.lsms_options td, .lsms_options th {
		width: 100px;
		text-align: center;
		empty-cells: show;
}

.lsms_options tr td:nth-child(2n+2),  .lsms_options tr th:nth-child(2n+2) {
	background-color: #EEEEEE;
}

.lsms_options tr td:nth-child(2n+1),  .lsms_options tr th:nth-child(2n+1) {
	background-color: #DDDDDD;
}

.lsms_options {
	width: 100%;
}