.lsms_label {
	font-weight: bold;
	margin-right: 10px;
	float: left;
}

.social {
	display: inline-block;
	float: left;
	margin: 0px 5px 0px 0px;
}

.fb-like {
	max-width: 80px;
}

.twitter-share-button {
	max-width: 85px;
}